body {
    font-family: 'Roboto', sans-serif;
    background-color: #0C221A;
    color: #FEFEFE
}

nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0C221A;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: right;
}

nav li {
    margin-right: 2rem;
}

.top-background {
    background-image: url(../img/servers.jpg);
    background-size: cover;
    height: 32rem;
    margin-top: 1rem;
}

#about p {
    font-size: 3rem;
    padding-top: 15%;
    text-align: center;
}

h1  {
    font-size: 3rem;
    margin-top: 4rem;
    color: #8B1507;
}

h3 {
    font-size: 2rem;
}

section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

section li {
    margin: 1rem 3rem;
}

.project-wrapper {
    display: flex;
    align-content: center;
}

.project {
    margin: 2rem;
}

a {
    text-decoration: none;
    color:  #FEFEFE;
}

a:hover {
    color: #8B1507;
}