html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;

}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
    font-weight: bold;
}
a {
    color: #DA0090;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.posted {
    font-size: 0.8rem;
    color: #89A611;
}
footer {
    text-align: center;
    font-size: 0.8rem;
}

.wrapper {
    width: 60%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
}

.rightheader {
    margin: auto 1rem;
}

.rightheader h1 {
    margin-bottom: 0;
    color: grey;
    letter-spacing: 1.5px;
    font-size: 3rem;
}

.rightheader p {
    margin-top: 0;
    font-size: 0.8rem;
    font-weight: bold;
}

nav li {
    list-style-type: none;
    font-weight: bold;
    margin: 0
}

nav ul {
    display: flex;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    justify-content: center;
    margin-top: 0;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
}

nav a:hover {
    background-color: black;
    color: green;
}

article {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

article img {
    align-self: center;
    margin-right: 1rem;
    border-radius: 15%;
}

article h2 {
    font-size: 1.7rem;
}

article p {
    font-size: 0.9rem;
}

.article-right {
    margin-top: 1rem;
}

footer p {
    font-size: 0.7rem;
    text-align: center;

}

footer ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

}

footer li {
    list-style-type: none;
    margin-right: 0.2rem;
}

.double-line {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    height: 0.6rem;
}